@media (max-width: 767.98px) {
	.empty-container {
		margin-left: 0;
		img {
			width: 80%;
		}

		figure {
			margin: 0;
		}
	}
}

.empty-container {
	display: flex;
	justify-content: center;
	text-align: center;
	-webkit-animation: fadein 1.2s linear forwards;
	animation: fadein 1.2s linear forwards;

	figcaption {
		-webkit-animation: fadein 1.5s linear forwards;
		animation: fadein 1.5s linear forwards;
		margin-top: 30px;
	}
}
