.tasks {
	width: 656px;
	background-color: white;
	margin-left: 266px;
	border-right: $generic-border;
	vertical-align: top;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 80px;
	height: 100%;
	padding-bottom: 40px;

	@include mq("767.98px") {
		margin-left: 0;
		width: auto;
		padding-left: 10px;
	}

	h2 {
		font-size: 20px;
		font-weight: normal;
		margin: 0 30px 20px 0;
		display: flex;
		align-items: center;

		svg {
			margin-right: 0.4rem;
		}
	}

	.add-task {
		margin-top: 0;
	}
}
