.button {
	text-transform: uppercase;
	padding: 0.375rem 0.75rem;
	letter-spacing: 0.2rem;
	font-size: 0.8rem;
	cursor: pointer;
	position: relative;
	width: 10rem;
	font-weight: bold;
	height: 2.75rem;
	text-align: center;
	background-color: white;
	box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

	cursor: pointer;
	color: #fff;
	border: 0;
	margin-top: 10px;
	@include theme-aware("background-color", "generic-bg");

	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;

	&:hover {
		@include theme-aware("background-color", "primary-2");
		box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
		font-size: 0.9rem;
	}
}
