@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
@import "./color-palette";
@import "./variables";
@import "./animations";
@import "./mixins";

// Components
@import "../components/Avatar/avatar.scss";
@import "../components/Button/button.scss";
@import "../components/ColorPalette/color-palette.scss";
@import "../components/Empty/empty.scss";
@import "../components/FormField/form-field.scss";
@import "../components/Header/header.scss";
@import "../components/Modal/modal.scss";
@import "../components/ProfileDropdown/profile-dropdown.scss";
@import "../components/Sidebar/sidebar.scss";
@import "../components/Spinner/spinner.scss";

// HOC
@import "../hoc/AvatarContainer/avatar-container.scss";

// Pages
@import "../pages/Login/login.scss";
@import "../pages/ForgotPassword/forgot-password.scss";
@import "../pages/Register/register.scss";
@import "../pages/ResetPassword/reset-password.scss";
@import "../pages/Home/home.scss";
@import "../pages/Home/components/AddProject/add-project.scss";
@import "../pages/Home/components/AddTask/add-task.scss";
@import "../pages/Home/components/DeleteProject/delete-project.scss";
@import "../pages/Home/components/DeleteTask/delete-task.scss";
@import "../pages/Home/components/EditProject/edit-project.scss";
@import "../pages/Home/components/EditTask/edit-task.scss";
@import "../pages/Home/components/Project/project.scss";
@import "../pages/Home/components/Projects/projects.scss";
@import "../pages/Home/components/ProjectsSkeleton/projects-skeleton.scss";
@import "../pages/Home/components/Task/task.scss";
@import "../pages/Home/components/TaskDate/task-date.scss";
@import "../pages/Home/components/Tasks/tasks.scss";
@import "../pages/Home/components/TasksSkeleton/tasks-skeleton.scss";

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: "Roboto", sans-serif;
	color: #202020;
	background-color: #fafafa;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul {
	margin: 0;
	padding: 0;
}

.error {
	color: #ff6347;
	font-size: 0.8em;
}

.input-error {
	border: 1px solid #ff6347 !important;
}

.hide {
	visibility: hidden;
}

.error-message {
	color: #ff6347;
	text-align: center;
	height: 1rem;
}
