$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
	rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-dark-bg-secondary: #f8dbd9;
$generic-dark-bg: #ff6347;
$generic-bg-secondary: #fff6e2;
$generic-bg: hsl(42, 78%, 60%);
$dark-primary: #ff6347;
$dark-primary-1: #ff6347;
$dark-primary-2: #e27065;
$primary: hsl(42, 78%, 60%);
$primary-1: #e9b949;
$primary-2: #f0ce80;
$secondary: #f1f1f1;
