.TaskDate {
	display: flex;
	height: 20px;
	width: 200px;
	padding: 15px;
	position: relative;

	span {
		white-space: nowrap;
	}

	&__date {
		cursor: pointer;
		margin-left: 15px;
	}

	&__menu {
		background-color: #fff;
		padding: 5px;
		-webkit-box-shadow: $generic-box-shadow;
		box-shadow: $generic-box-shadow;
		position: absolute;
		top: 0;
		width: 200px;
		left: 100px;
		border-radius: 3px;

		ul {
			display: flex;
			flex-direction: column;
			li {
				color: #202020;
				cursor: pointer;
				padding: 1px;
				display: flex;

				div {
					padding: 10px;
					width: 100%;

					span {
						margin-right: 10px;

						svg {
							fill: grey;
						}
					}
				}
			}
		}
	}
}

// Datepicker

.react-datepicker__input-container input {
	visibility: hidden !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
	@include theme-aware("background-color", "primary");
}
