.task {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 18px;
	color: #333;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	list-style-type: none;
	border-bottom: 1px solid #f0f0f0;

	:hover > &__delete {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	:hover > &__edit {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	&__project {
		margin-left: 15px;
		@include theme-aware("color", "primary");
	}

	&__delete {
		margin-left: 10px;
		display: none;
		cursor: pointer;

		svg {
			color: #cacaca;
		}
	}
	&__edit {
		margin-left: auto;
		display: none;
		cursor: pointer;

		svg {
			color: #cacaca;
		}
	}

	&__checkbox-container {
		margin-right: 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		line-height: 16px;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&__checkbox-container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&__checkmark {
		width: 1.3em;
		height: 1.3em;
		background-color: white;
		border-radius: 50%;
		vertical-align: middle;
		border: 1px solid #ddd;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
		position: absolute;
	}

	&__checkbox-container:hover input ~ .task__checkmark {
		border-width: 1px;
		@include theme-aware("border-color", "primary");
	}

	&__checkbox-container input:checked ~ .task__checkmark {
		@include theme-aware("background-color", "primary");
	}

	&__checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	&__checkbox-container input:checked ~ .task__checkmark:after {
		display: block;
	}

	&__checkbox-container .task__checkmark:after {
		left: 6px;
		top: 3px;
		width: 5px;
		height: 10px;
		border: solid white;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 10px;
		margin: 10px;
		-webkit-animation: fadein 0.5s linear forwards;
		animation: fadein 0.5s linear forwards;
	}
	&__item-fadeout {
		display: flex;
		align-items: center;
		padding: 10px;
		margin: 10px;
		-webkit-animation: fadeout 0.7s linear forwards;
		animation: fadeout 0.7s linear forwards;
	}
}
