.Tags {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 48px;
	min-width: 300px;
	padding: 0 8px;
	border: 1px solid rgb(214, 216, 218);
	border-radius: 6px;
	margin: 20px 10px;

	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 0 0 4px;
		margin: 0;

		li {
			width: auto;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			padding: 6px;
			font-size: 0.8rem;
			list-style: none;
			border-radius: 6px;
			margin: 0 6px 6px 0;
			@include theme-aware("background", "generic-bg");

			span {
				margin-top: 3px;
			}

			svg {
				display: block;
				width: 16px;
				height: 16px;
				line-height: 16px;
				text-align: center;
				font-size: 14px;
				margin-left: 8px;
				@include theme-aware("background", "generic-bg");
				border-radius: 50%;
				color: #fff;
				cursor: pointer;
			}
		}
	}

	&:focus-within {
		border-bottom-width: 1px;
		@include theme-aware("border-color", "generic-bg");
	}

	input {
		flex: 1;
		border: none;
		height: 30px;
		width: 100%;
		font-size: 14px;
		padding: 10px 15px 15px 4px;
		&:focus {
			outline: transparent;
		}
		margin: 0;
	}
}
