.overlay {
	background: rgba(102, 102, 102, 0.5);
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	position: fixed;
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	height: calc(100vh);
}
