.project {
	@include va("left");
	display: flex;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	padding: 5px 10px;
	margin-top: 5px;

	&__dot {
		margin-right: 10px;
		font-size: 30px;
	}

	&__name {
		display: flex;
		margin: 0 auto;
		width: 100%;
		align-items: center;
		cursor: pointer;
	}

	&__delete {
		cursor: pointer;
		margin-left: 10px;
		display: none;

		svg {
			color: #cacaca;
		}
	}

	&__edit {
		cursor: pointer;
		margin-left: auto;
		display: none;

		svg {
			color: #cacaca;
		}
	}

	&.active,
	&:hover {
		font-weight: bold;
		background-color: white;
	}

	&:hover &__delete {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	&:hover &__edit {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	$base-color: rgb(231, 39, 39);
	$strength: 5;
	$degrees: 20deg;
	@for $i from 0 through 20 {
		&:nth-child(#{$i}) {
			.project__dot {
				color: adjust-hue($base-color, $degrees * $i);
			}
		}
	}
}
