.ColorPalette {
	margin-right: 15px;

	button {
		@include transparent-button();
		color: white;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		svg {
			width: 20px;
			height: 20px;
		}
	}

	&__dropdown {
		position: absolute;
		right: 20px;
		top: 44px;
		background-color: #f9f9f9;
		min-width: 150px;
		box-shadow: 0px 2px 2px 0px lightsteelblue;
		z-index: 1;
		border-radius: 0 0 5px 5px;
		display: flex;

		&.hide {
			display: none;
		}

		.theme {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1rem;
			border-radius: 0.25em;
			transition: filter 500ms;

			.color {
				height: 1rem;
				width: 1rem;
				margin: 0 0.125em;
				border-radius: 0.2rem;
				flex: 1 0 1rem;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				transition: all 0.3s ease;

				&:hover {
					transform: scale(1.2);
				}
			}

			.light {
				background-color: hsl(42, 78%, 60%);
			}

			.orange {
				background-color: #fc5404;
			}

			.green {
				background-color: #2f5d62;
			}

			.tomato {
				background-color: #ff6347;
			}

			.cuqui {
				background-color: #f875aa;
			}

			.brown {
				background-color: #a0937d;
			}
		}
	}
}
