.AvatarContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__wrapper {
		position: relative;
		cursor: pointer;
		border-radius: 50%;
		@include theme-aware("background-color", "primary");
		height: 55px;
		width: 55px;

		.close {
			position: absolute;
			top: -4px;
			right: -4px;
			z-index: 1;
			border-radius: 50%;
			padding: 0.5em;
			width: 10px;
			height: 10px;
			border: 2px solid $primary-2;
			background-color: #f9f9f9;
			cursor: pointer;

			&:hover {
				z-index: 100;
				border-color: $danger;

				&:before,
				&:after {
					background-color: $danger;
				}
			}

			&:before {
				content: " ";
				position: absolute;
				display: block;
				@include theme-aware("background-color", "primary-2");
				border-radius: 2px;
				width: 2px;
				left: 6px;
				top: 1.2px;
				bottom: 1.2px;
				transform: rotate(45deg);
			}

			&:after {
				content: " ";
				position: absolute;
				display: block;
				@include theme-aware("background-color", "primary-2");
				border-radius: 2px;
				height: 2px;
				top: 6px;
				left: 1.2px;
				right: 1.2px;
				transform: rotate(45deg);
			}
		}

		&:hover {
			.Avatar__placeholder,
			.Avatar__image {
				opacity: 0.1;
			}
			.middle {
				opacity: 1;
			}
		}

		.middle {
			font-size: 0.6rem;
			transition: 0.5s ease;
			font-weight: bold;
			opacity: 0;
			position: absolute;
			top: 50%;
			color: white;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
		}
	}

	&__theme {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.3rem;
		transition: filter 500ms;

		.color {
			height: 0.6rem;
			width: 0.6rem;
			margin: 0 0.1rem;
			border-radius: 0.1rem;
			flex: 1 0 0.5rem;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			transition: all 0.3s ease;
			cursor: pointer;

			&:hover {
				transform: scale(1.2);
			}
		}

		.light {
			background-color: #0a9396;
		}

		.blue {
			background-color: #1a508b;
		}

		.red {
			background-color: #e40017;
		}

		.dark {
			background-color: #374045;
		}
	}
}
